body{
  background-color: #fff;
  color: #333;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 0;
  position: relative;
  width: 100%;
}
.margen-contenido{
  max-width: 1260px;
  position: relative;
  margin: 0 auto;
}
.banner{
  background-color: black;
  position: fixed;
  height: 60px;
  width: 100%;
  font-size: 14px;
  z-index: 15;
}
.logo-banner{
  width: 15%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  color: #fff;
  overflow: hidden;
}
.logo-banner h1{
  font-size: 24px;
}
.logo-banner img{
  height: 100px;
  overflow: hidden;
}
.nav-banner{
  width:55%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 22%;
  font-size: 14px;
}
.nav-banner a{
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 2%;
  margin-right: 2%;
  color: #fff;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 3px solid black;
  transition: .2s;

}
.nav-banner a:hover{
  color: #969696;
  border-bottom: 3px solid #37ba3a;
}
.contacto-banner{
  width: 13%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #37ba3a;
  position: absolute;
  right: 0;
  text-align: center;
  color: #fff;
  transition: .2s;
  cursor: pointer;
}
.contacto-banner:hover{
  background-color: #247c25;
}
.contacto-banner h1{
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
}


.contenido{
  height: 2100px;
  width: 100%;
  position: relative;
}
.video-contenido{
  height:815px;
  position: relative;
  width: 100%;
  padding-top: 60px;
}
.imagen-contenido-inicio{
  position: absolute;
  top:60px;
  width: 100%;
}
.imagen-contenido-inicio img{
  width: 100%;
  height: 815px;
  object-fit: cover;
  z-index: 1;
}
.video-contenido video{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  object-fit: fill;
  z-index: 1;
}

.titulo-inicio{
  position: absolute;
  top: 130px;
  width: 50%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  z-index: 3;
}
.titulo-inicio h1{
  color:  white;
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 1px 1px #363c40;
}
.titulo-inicio span{
  display: inline;
  color: #37ba3a;
}

.ventanas-flotantes{
  width: 100%;
  position: relative;
  margin-top: -135px;
  height: 270px;
  z-index: 10;
}
.contenido-flotante{
  width: calc(100%/4);
  height: 270px;
  display: inline-block;
}
.texto-flotante{
  width: 100%;
  height: 50px;
  background-color: red;
  vertical-align: middle;
  text-align: center;
}
.texto-flotante span{
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 5%;
  line-height: 50px;

}
.imagen-flotante{
  width: 100%;
  height: 220px;
  position: relative;
}
.imagen-flotante img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ver-mas{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #333;
  vertical-align: middle;
  z-index: 12;
}
.imagen-flotante:hover .contenido-imagen{
  opacity: 1;
  visibility: visible;
}
.contenido-imagen{
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.contenido-imagen p{
  font-size: 14px;
  color: white;
  font-weight: 600;
  padding: 10%;
  text-align: justify;
}
.ver-mas img{
  width: 100%;
  height: 30px;
  object-fit: contain;
  padding-top: 10px;
}

.info-adicional{
  width: 100%;
  height: 630px;
  position: relative;
  margin-top: 50px;
}
.contenido-adicional{
  width: calc(100%/3);
  height: 630px;
  position: relative;
  display: inline-block;
  background-color: #f0f0f0;
}

.texto-adicional{
  height: 400px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.texto-adicional h3{
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  margin: 30px;
}
.texto-adicional p{
  color: #646464;
  font-size: 16px;
  line-height: 1.875;
  margin: 30px;
  text-align: justify;
}
.texto-adicional a{
  color: #646464;
  font-size: 16px;
  line-height: 1.875;
  margin: 30px 30px 0 30px;
  position: absolute;
  bottom: 50px;
}
.texto-adicional a:hover{
  color: #37ba3a;
}
.imagen-contenido-peq{
  height: 230px;
  width: 100%;
  position: absolute;
  top:0;
}
.imagen-contenido-peq img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.imagen-contenido-gra{
  height: 100%;
  width: 100%;
}
.video-contenido-gra{
  width: 100%;
  height: 236px;
  position: absolute;
  top: 165px;
}
.video-contenido-gra iframe{
  width: 100%;
  height: 236px;
}
.imagen-contenido-gra img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.cover-contenido-gra{
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}
.cover-contenido-gra h4{
  position: absolute;
  width: 50%;
  bottom: 40px;
  padding-left: 5%;
  color: #fff;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}
.cover-contenido-gra a{
  position: absolute;
  bottom: 50px;
  padding-left: 5%;
  color: #fff;
  font-size: 16px;
  text-transform: none;
}
.titulo-adicional{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 50%;
  height: 40px;
  line-height: 40px;
  background-color: rgba(0,0,0,0.8);
}
.titulo-adicional span{
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 10%;
}

.contenido-vista-adicional{
  padding-top: 100px;
  height: 1000px;
  width: 100%;
  position: relative;
}
#tamanio-soluciones{
  height: 1360px;
}

.extendido{
  height: 1350px !important;
}
.menu-vista-adicional{
  height: 960px;
  width: 20%;
  position: absolute;
  left: 0;
  padding-left: 3%;
}
.menu-vista-adicional ul{
  padding-left: 0;
}
.menu-vista-adicional li{
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 15px;
  list-style: none;
  color: #646464;
  cursor: pointer;
}
.menu-vista-adicional li:hover{
  color: #37ba3a;
}
.titulo-menu-vista-adicional{
  width: 100%;
  text-align: center;
  font-size: 14px;
  border-bottom: 3px solid #e1e1e1;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 18px;
  color: #000;
  margin: 0 0 15px;
}
.info-vista-adicional{
  height: 960px;
  width: 70%;
  position: absolute;
  right: 3%;
}
.imagen-info-vista-adicional{
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.imagen-info-vista-adicional img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.titulo-info-vista-adicional h3{
  font-weight: 600;
  font-size: 34px;
  line-height: 1.175;
  color: #000;
  font-style: normal;
  border: 0;
  padding: 0;
  margin: 0 0 15px;
}
.contenido-info-vista-adicional p{
  color: #646464;
  font-size: 16px;
  line-height: 1.875;
  margin: 0 0 15px;
  padding-right: 40px;
  text-align: justify;
}

.contenido-info-vista-adicional span{
  color: #646464;
  font-size: 16px;
  line-height: 1.875;
  display: block;
}
.imagen-contenido-info-vista-adicional{
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}
.imagen-contenido-info-vista-adicional img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.galeria-proyectos{
  width: 100%;
  height: 900px;
  position: relative;
}
.proyecto{
  width: calc(100%/3);
  height: 260px;
  display: inline-block;
  margin-bottom: 40px;
  position: relative;
}
.interior-proyecto{
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  height: 260px;
  text-align: center;
}
.interior-proyecto:hover .cover-imagen{
  visibility: visible;
  opacity: 1;
}
.cover-imagen{
  position: absolute;
  left: 3%;
  right: 3%;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.interior-proyecto h1{
  color: #37ba3a;
  margin-top: 60px;
  font-size: 20px;
  width: 100%;
  z-index: 2;
}
.interior-proyecto span{
  font-size: 16px;
  color: white;
  width: 100%;
  z-index: 2;
}
.interior-proyecto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.conte{
  display: none;
}
.ventajas-descripcion{
  width: 100%;
  height: auto;
}
.ventaja{
  display: inline-block;
  width: 32%;
  height: auto;
  vertical-align: top;
}
.ventaja h5{
  font-size: 16px;
  text-align: center;
  color: #37ba3a;
  margin-bottom: 5px;
}
.ventaja p{
  padding: 2%;
  margin-top: 0;
  font-size: 15px !important;
  text-align: center !important;
}
.listas{
  width: 95%;
  height: auto;
  position: relative;
  display: flex;
}
.lista-izquierda{
  display: inline-block;
  width: 50%;
}
.lista-derecha{
  display: inline-block;
  width: 48%;
}
.listas h5{
  font-size: 22px;
}
.listas li{
  font-size: 16px;
}
.contenido-vista-principal{
  width: 100%;
  position: relative;
  height: 410px;
}
.contenido-info-vista-principal p{
  font-size: 18px;
  text-align: justify;
}
.texto-info-vista-principal{
  width: 40%;
  display: inline-block;
  position: absolute;
  left: 0;
  padding: 2.5%;
}
.listas-info-vista-principal{
  width: 50%;
  display: inline-block;
  position: absolute;
  right: 0;
}
.listas-info-vista-principal .listas{
  padding: 2.5%;
}
#info-uno{
  display: block;
}

.contacto{
  height: 700px;
  width: 400px;
  position: fixed;
  top: 60px;
  right: 0;
  z-index: 10;
}
.formulario{
  background-color: rgba(54, 60, 64, 0.7);
  width: 100%;
  height: 500px;
}
.texto-contacto{
  width: 60%;
  margin-left: 20%;
  position: absolute;
  top: 30px;
}
.texto-contacto span{
  display: block;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  border-left: 4px solid #37ba3a;
  padding-left: 5%;
}
.texto-contacto strong{
  color: #37ba3a;
}
.form{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  position: absolute;
  top:140px;
}
.form input{
  background-color: transparent;
  display: block;
  margin-bottom: 2vh;
  padding: 3%;
  width: 100%;
  border: 1px solid white;
}
.form textarea{
    background-color: transparent;
    display: block;
    margin-bottom: 2vh;
    padding: 3%;
    width: 100%;
    border: 1px solid white;
    color: white;
}
#boton-enviar{
  background-color: #37ba3a;
  border: none;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;
}
#boton-enviar:hover {
  background-color: #247c25;
}
#formulario{
  display: none;
  transition: .3s;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    white;
}

.sobre-footer{
  position: absolute;
  bottom: 220px;
  width: 100%;
  height: 60px;
  background-color: #333;
  z-index: 10;
  padding: 25px 0;
}
.local-footer{
  position: absolute;
  left: 3%;
  width: 35%;
  height: 60px;
  vertical-align: middle;
}
.local-footer span{
  font-size: 16px;
  color: #969696;
  margin-right: 5%;
  display: inline-block;
  vertical-align:middle;
}
.local-footer strong{
  font-size: 24px;
  color: #fff;
}
.hora-footer{
  position: absolute;
  left: 40%;
  width: 20%;
  height: 40px;
  padding-top: 15px;
}
.hora-footer span{
  font-size: 16px;
  color: #969696;
  margin-right: 5%;
  display: inline-block;
  vertical-align: middle;
}
.telefono-footer{
  position: absolute;
  right: 20%;
  width: 20%;
  height: 40px;
  padding-top: 15px;
}
.telefono-footer span{
  font-size: 16px;
  color: #969696;
  margin-right: 5%;
  display: inline-block;
  vertical-align: middle;
}
.boton-footer{
  position: absolute;
  right: 3%;
  width: 20%;
  vertical-align: middle;
  text-align: right;
}
.boton-footer button{
  font-size: 12px;
  color: #969696;
  background-color: transparent;
  border: 3px solid #969696;
  padding: 8% 6%;
  margin-right: 5%;
  display: inline-block;
  vertical-align: middle;
  transition: .3s;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.boton-footer button:hover{
  color: #fff;
  background-color: #37ba3a;
  border: 3px solid #37ba3a;
}
.smartbrix{
  color: #37ba3a !important;
}

#datos-colombia{
  display: block;
  transition: .3s;
}
#datos-panama{
  display: none;
  transition: .3s;
}

.contenido-con-imagen{
  padding-top: 60px;
  height: 1200px;
  width: 100%;
  position: relative;
}
.banner-imagen{
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 2;
}
.banner-imagen img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.texto-imagen{
  background-color: rgba(0,0,0,0.6);
  width: 360px;
  height: 200px;
  position: absolute;
  top: -350px;
  z-index: 3;
  padding: 20px 30px;
  margin-left: 10%;
}
.texto-imagen h3{
  font-weight: 700;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 48px;
  margin: 0 0 10px;
  padding: 0;
  border-bottom: 3px solid rgba(255,255,255,0.5);
  padding-bottom: 10px;
}
.texto-imagen p{
  font-size: 14px;
  line-height: 26px;
  font-family: 'Open Sans',sans-serif;
  color: #fff;
  margin: 0;
}

.footer{
  position: absolute;
  bottom: 0;
  background-color: #000;
  height: 230px;
  width: auto;
  right: 0;
  left: 0;
  z-index: 10;
}
.contenido-footer{
  width: 100%;
  height: 230px;
  position: relative;
}
.columna-1{
  width: 23%;
  display: inline-block;
  position: absolute;
  left: 3%;
  padding-top: 20px;
  height: 120px;
}
.columna-1 a{
  text-decoration: none;
  font-size: 20px;
  color: #969696;
  display: block;
  margin-bottom: 18px;
  font-weight: 600;
  width: 35%;
}
.columna-2{
  width: 23%;
  position: absolute;
  left: 23%;
  padding-left: 5%;
  display: inline-block;
  padding-top: 20px;
  height: 120px;
}
.columna-2 a{
  text-decoration: none;
  font-size: 18px;
  color: #969696;
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
  width: 35%;
}
.columna-3{
  width: 20%;
  position: absolute;
  right: 0;
  display: inline-block;
  height: 120px;
  padding-left: 5%;
  padding-top: 20px;
  text-align: center;
}
.columna-3 h4{
  font-size: 22px;
  color: #969696;
  margin-top: 0;
}
.columna-3 a{
  text-decoration: none;
  font-size: 18px;
  color: #969696;
  margin-right: 4%;
}
.fila-1{
  width: 95%;
  height: 40px;
  position: absolute;
  top: 160px;
  left: 3%;
  padding-top: 20px;
}
.fila-1 a{
  color: #969696;
  font-size: 14px;
  padding-right: 2%;
  text-decoration: none;
}
.fila-1 span{
  color: #969696;
  font-size: 14px;
  padding-right: 2%;
  text-decoration: none;
}
.hb a:hover{
  color: #fff;
}
