body{
  background-color: #fff;
  color: #333;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 0;
  position: relative;
  width: 100%;
}
.margen-contenido{
  max-width: 1260px;
  position: relative;
  margin: 0 auto;
}
.banner{
  background-color: black;
  position: fixed;
  height: 80px;
  width: 100%;
  font-size: 14px;
  z-index: 10;
}
.logo-banner{
  width: 25%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  color: #fff;
}
.logo-banner h1{
  font-size: 24px;
}
.nav-banner{
  width:55%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 18%;
  font-size: 14px;
}
.nav-banner a{
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 2%;
  margin-right: 2%;
  color: #fff;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 3px solid black;
  transition: .2s;

}
.nav-banner a:hover{
  color: #969696;
  border-bottom: 3px solid #9eb936;
}
.contacto-banner{
  width: 13%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgreen;
  position: absolute;
  right: 0;
  text-align: center;
  color: #fff;
  transition: .2s;
}
.contacto-banner:hover{
  background-color: #9eb936;
}
.contacto-banner h1{
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
}


.contenido{
  height: 250vh;
  width: 100%;
  position: relative;
}
.video-contenido{
  height:100vh;
  position: relative;
  width: 100%;
}
.video-contenido video{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  object-fit: fill;
  z-index: 1;
}


.footer{
  position: absolute;
  bottom: 0;
  background-color: #000;
  height: 280px;
  width: auto;
  right: 0;
  left: 0;
  z-index: 10;
}
.contenido-footer{
  width: 100%;
  height: 280px;
  position: relative;
}
.columna-1{
  width: 25%;
  display: inline-block;
  position: absolute;
  left: 0;
  padding-left: 5%;
  padding-top: 40px;
  height: 160px;
}
.columna-1 a{
  text-decoration: none;
  font-size: 20px;
  color: #969696;
  display: block;
  margin-bottom: 18px;
  font-weight: 600;
  width: 35%;
}
.columna-2{
  width: 25%;
  position: absolute;
  left: 30%;
  padding-left: 5%;
  display: inline-block;
  padding-top: 40px;
  height: 160px;
}
.columna-2 a{
  text-decoration: none;
  font-size: 18px;
  color: #969696;
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
  width: 35%;
}
.columna-3{
  width: 40%;
  position: absolute;
  right: 0;
  display: inline-block;
  height: 200px;
}
.columna-3 a{
  text-decoration: none;
  font-size: 14px;
}
.fila-1{
  padding-left: 5%;
  width: 95%;
  height: 60px;
  position: absolute;
  top: 200px;
  padding-top: 20px;
}
.fila-1 a{
  color: #969696;
  font-size: 14px;
  padding-right: 2%;
  text-decoration: none;
}
.fila-1 span{
  color: #969696;
  font-size: 14px;
  padding-right: 2%;
  text-decoration: none;
}
.hb a:hover{
  color: #fff;
}
